body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1169px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1128px;
  height:760px;
}
#u1210 {
  position:absolute;
  left:41px;
  top:0px;
  width:1128px;
  height:760px;
}
#u1211 {
  position:absolute;
  left:2px;
  top:372px;
  width:1124px;
  visibility:hidden;
  word-wrap:break-word;
}
