body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:767px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:1937px;
}
#u1208 {
  position:absolute;
  left:63px;
  top:21px;
  width:704px;
  height:1937px;
}
#u1209 {
  position:absolute;
  left:2px;
  top:960px;
  width:700px;
  visibility:hidden;
  word-wrap:break-word;
}
