body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1186px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:41px;
}
#u1 {
  position:absolute;
  left:61px;
  top:0px;
  width:310px;
  height:40px;
}
#u2 {
  position:absolute;
  left:2px;
  top:12px;
  width:306px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:41px;
}
#u3 {
  position:absolute;
  left:391px;
  top:0px;
  width:590px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:586px;
  word-wrap:break-word;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5 {
  position:absolute;
  left:1011px;
  top:0px;
  width:100px;
  height:40px;
}
#u6 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7 {
  position:absolute;
  left:117px;
  top:50px;
  width:130px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u9_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  position:absolute;
  left:337px;
  top:50px;
  width:130px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  position:absolute;
  left:574px;
  top:50px;
  width:130px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13 {
  position:absolute;
  left:813px;
  top:50px;
  width:130px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:50px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:109px;
  width:981px;
  height:50px;
  font-size:18px;
}
#u16 {
  position:absolute;
  left:2px;
  top:14px;
  width:977px;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:54px;
}
#u18 {
  position:absolute;
  left:417px;
  top:189px;
  width:374px;
  height:53px;
  font-size:18px;
}
#u19 {
  position:absolute;
  left:2px;
  top:16px;
  width:370px;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:54px;
}
#u20 {
  position:absolute;
  left:802px;
  top:189px;
  width:117px;
  height:53px;
  font-size:18px;
}
#u21 {
  position:absolute;
  left:2px;
  top:16px;
  width:113px;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:116px;
}
#u22 {
  position:absolute;
  left:417px;
  top:262px;
  width:501px;
  height:115px;
  font-size:28px;
}
#u23 {
  position:absolute;
  left:2px;
  top:42px;
  width:497px;
  word-wrap:break-word;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24 {
  position:absolute;
  left:815px;
  top:387px;
  width:104px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  position:absolute;
  left:146px;
  top:387px;
  width:83px;
  height:40px;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:54px;
}
#u28 {
  position:absolute;
  left:416px;
  top:519px;
  width:374px;
  height:53px;
  font-size:18px;
}
#u29 {
  position:absolute;
  left:2px;
  top:16px;
  width:370px;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:54px;
}
#u30 {
  position:absolute;
  left:801px;
  top:519px;
  width:117px;
  height:53px;
  font-size:18px;
}
#u31 {
  position:absolute;
  left:2px;
  top:16px;
  width:113px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:116px;
}
#u33 {
  position:absolute;
  left:416px;
  top:592px;
  width:501px;
  height:115px;
  font-size:28px;
}
#u34 {
  position:absolute;
  left:2px;
  top:42px;
  width:497px;
  word-wrap:break-word;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  position:absolute;
  left:814px;
  top:717px;
  width:104px;
  height:40px;
}
#u36 {
  position:absolute;
  left:2px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
#u37 {
  position:absolute;
  left:231px;
  top:1043px;
  width:125px;
  height:40px;
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39 {
  position:absolute;
  left:145px;
  top:717px;
  width:83px;
  height:40px;
}
#u40 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:179px;
}
#u41 {
  position:absolute;
  left:118px;
  top:519px;
  width:280px;
  height:178px;
  font-size:36px;
}
#u42 {
  position:absolute;
  left:2px;
  top:68px;
  width:276px;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:54px;
}
#u43 {
  position:absolute;
  left:408px;
  top:1171px;
  width:374px;
  height:53px;
  font-size:18px;
}
#u44 {
  position:absolute;
  left:2px;
  top:16px;
  width:370px;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:54px;
}
#u45 {
  position:absolute;
  left:793px;
  top:1171px;
  width:117px;
  height:53px;
  font-size:18px;
}
#u46 {
  position:absolute;
  left:2px;
  top:16px;
  width:113px;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:116px;
}
#u47 {
  position:absolute;
  left:408px;
  top:1244px;
  width:501px;
  height:115px;
  font-size:28px;
}
#u48 {
  position:absolute;
  left:2px;
  top:42px;
  width:497px;
  word-wrap:break-word;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49 {
  position:absolute;
  left:806px;
  top:1369px;
  width:104px;
  height:40px;
}
#u50 {
  position:absolute;
  left:2px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51 {
  position:absolute;
  left:137px;
  top:1369px;
  width:83px;
  height:40px;
}
#u52 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:179px;
}
#u53 {
  position:absolute;
  left:110px;
  top:1171px;
  width:280px;
  height:178px;
  font-size:36px;
}
#u54 {
  position:absolute;
  left:2px;
  top:68px;
  width:276px;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:54px;
}
#u55 {
  position:absolute;
  left:409px;
  top:845px;
  width:374px;
  height:53px;
  font-size:18px;
}
#u56 {
  position:absolute;
  left:2px;
  top:16px;
  width:370px;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:54px;
}
#u57 {
  position:absolute;
  left:794px;
  top:845px;
  width:117px;
  height:53px;
  font-size:18px;
}
#u58 {
  position:absolute;
  left:2px;
  top:16px;
  width:113px;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:116px;
}
#u59 {
  position:absolute;
  left:409px;
  top:918px;
  width:501px;
  height:115px;
  font-size:28px;
}
#u60 {
  position:absolute;
  left:2px;
  top:42px;
  width:497px;
  word-wrap:break-word;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u61 {
  position:absolute;
  left:807px;
  top:1043px;
  width:104px;
  height:40px;
}
#u62 {
  position:absolute;
  left:2px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u63 {
  position:absolute;
  left:138px;
  top:1043px;
  width:83px;
  height:40px;
}
#u64 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:179px;
}
#u65 {
  position:absolute;
  left:111px;
  top:845px;
  width:280px;
  height:178px;
  font-size:36px;
}
#u66 {
  position:absolute;
  left:2px;
  top:68px;
  width:276px;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:54px;
}
#u67 {
  position:absolute;
  left:408px;
  top:1500px;
  width:374px;
  height:53px;
  font-size:18px;
}
#u68 {
  position:absolute;
  left:2px;
  top:16px;
  width:370px;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:54px;
}
#u69 {
  position:absolute;
  left:793px;
  top:1500px;
  width:117px;
  height:53px;
  font-size:18px;
}
#u70 {
  position:absolute;
  left:2px;
  top:16px;
  width:113px;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:116px;
}
#u71 {
  position:absolute;
  left:408px;
  top:1573px;
  width:501px;
  height:115px;
  font-size:28px;
}
#u72 {
  position:absolute;
  left:2px;
  top:42px;
  width:497px;
  word-wrap:break-word;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73 {
  position:absolute;
  left:806px;
  top:1698px;
  width:104px;
  height:40px;
}
#u74 {
  position:absolute;
  left:2px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u75_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75 {
  position:absolute;
  left:137px;
  top:1698px;
  width:83px;
  height:40px;
}
#u76 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:179px;
}
#u77 {
  position:absolute;
  left:110px;
  top:1500px;
  width:280px;
  height:178px;
  font-size:36px;
}
#u78 {
  position:absolute;
  left:2px;
  top:68px;
  width:276px;
  word-wrap:break-word;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79 {
  position:absolute;
  left:507px;
  top:387px;
  width:83px;
  height:40px;
}
#u80 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u81 {
  position:absolute;
  left:600px;
  top:387px;
  width:83px;
  height:40px;
}
#u82 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83 {
  position:absolute;
  left:693px;
  top:387px;
  width:83px;
  height:40px;
}
#u84 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85 {
  position:absolute;
  left:500px;
  top:1043px;
  width:83px;
  height:40px;
}
#u86 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u87 {
  position:absolute;
  left:593px;
  top:1043px;
  width:83px;
  height:40px;
}
#u88 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u89_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u89 {
  position:absolute;
  left:686px;
  top:1043px;
  width:83px;
  height:40px;
}
#u90 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u91 {
  position:absolute;
  left:507px;
  top:717px;
  width:83px;
  height:40px;
}
#u92 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u93_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u93 {
  position:absolute;
  left:600px;
  top:717px;
  width:83px;
  height:40px;
}
#u94 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95 {
  position:absolute;
  left:693px;
  top:717px;
  width:83px;
  height:40px;
}
#u96 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97 {
  position:absolute;
  left:500px;
  top:1698px;
  width:83px;
  height:40px;
}
#u98 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u99_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u99 {
  position:absolute;
  left:593px;
  top:1698px;
  width:83px;
  height:40px;
}
#u100 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u101 {
  position:absolute;
  left:686px;
  top:1698px;
  width:83px;
  height:40px;
}
#u102 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:64px;
}
#u103 {
  position:absolute;
  left:1021px;
  top:243px;
  width:140px;
  height:63px;
  font-size:28px;
}
#u104 {
  position:absolute;
  left:2px;
  top:16px;
  width:136px;
  word-wrap:break-word;
}
#u105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u105 {
  position:absolute;
  left:1003px;
  top:326px;
  width:68px;
  height:40px;
}
#u106 {
  position:absolute;
  left:2px;
  top:12px;
  width:64px;
  word-wrap:break-word;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107 {
  position:absolute;
  left:1081px;
  top:326px;
  width:98px;
  height:40px;
}
#u108 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u109 {
  position:absolute;
  left:1003px;
  top:378px;
  width:83px;
  height:40px;
}
#u110 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u111 {
  position:absolute;
  left:1096px;
  top:378px;
  width:83px;
  height:40px;
}
#u112 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113 {
  position:absolute;
  left:1003px;
  top:428px;
  width:83px;
  height:40px;
}
#u114 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u115 {
  position:absolute;
  left:1092px;
  top:428px;
  width:45px;
  height:40px;
}
#u116 {
  position:absolute;
  left:2px;
  top:12px;
  width:41px;
  word-wrap:break-word;
}
#u117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117 {
  position:absolute;
  left:1141px;
  top:428px;
  width:45px;
  height:40px;
}
#u118 {
  position:absolute;
  left:2px;
  top:12px;
  width:41px;
  word-wrap:break-word;
}
#u119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119 {
  position:absolute;
  left:366px;
  top:1043px;
  width:83px;
  height:40px;
}
#u120 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
#u121 {
  position:absolute;
  left:239px;
  top:387px;
  width:125px;
  height:40px;
}
#u122 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u123 {
  position:absolute;
  left:374px;
  top:387px;
  width:83px;
  height:40px;
}
#u124 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
#u125 {
  position:absolute;
  left:238px;
  top:717px;
  width:125px;
  height:40px;
}
#u126 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127 {
  position:absolute;
  left:373px;
  top:717px;
  width:83px;
  height:40px;
}
#u128 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
#u129 {
  position:absolute;
  left:231px;
  top:1698px;
  width:125px;
  height:40px;
}
#u130 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u131 {
  position:absolute;
  left:366px;
  top:1698px;
  width:83px;
  height:40px;
}
#u132 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
#u133 {
  position:absolute;
  left:230px;
  top:1369px;
  width:125px;
  height:40px;
}
#u134 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u135 {
  position:absolute;
  left:365px;
  top:1369px;
  width:83px;
  height:40px;
}
#u136 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u137 {
  position:absolute;
  left:500px;
  top:1369px;
  width:83px;
  height:40px;
}
#u138 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u139 {
  position:absolute;
  left:593px;
  top:1369px;
  width:83px;
  height:40px;
}
#u140 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u141 {
  position:absolute;
  left:686px;
  top:1369px;
  width:83px;
  height:40px;
}
#u142 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:202px;
}
#u143 {
  position:absolute;
  left:117px;
  top:175px;
  width:281px;
  height:202px;
}
#u144 {
  position:absolute;
  left:2px;
  top:93px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u145 {
  position:absolute;
  left:237px;
  top:1094px;
  width:544px;
  height:40px;
  font-size:16px;
}
#u146 {
  position:absolute;
  left:2px;
  top:10px;
  width:540px;
  word-wrap:break-word;
}
#u147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u147 {
  position:absolute;
  left:225px;
  top:1749px;
  width:544px;
  height:40px;
  font-size:16px;
}
#u148 {
  position:absolute;
  left:2px;
  top:10px;
  width:540px;
  word-wrap:break-word;
}
#u149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u149 {
  position:absolute;
  left:225px;
  top:1419px;
  width:544px;
  height:40px;
  font-size:16px;
}
#u150 {
  position:absolute;
  left:2px;
  top:10px;
  width:540px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u152 {
  position:absolute;
  left:225px;
  top:441px;
  width:544px;
  height:40px;
  font-size:16px;
}
#u152_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u152.mouseOver {
}
#u152_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u152.mouseDown {
  opacity:0.5;
}
#u152_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u152.selected {
  opacity:0.5;
}
#u153 {
  position:absolute;
  left:2px;
  top:10px;
  width:540px;
  word-wrap:break-word;
}
#u154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:44px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u154 {
  position:absolute;
  left:796px;
  top:441px;
  width:185px;
  height:44px;
}
#u155 {
  position:absolute;
  left:10px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:33px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
}
#u156 {
  position:absolute;
  left:791px;
  top:774px;
  width:248px;
  height:33px;
  font-size:16px;
}
#u157 {
  position:absolute;
  left:10px;
  top:10px;
  width:228px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u159 {
  position:absolute;
  left:225px;
  top:441px;
  width:544px;
  height:40px;
  font-size:16px;
}
#u159_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u159.mouseDown {
  opacity:0.5;
}
#u159_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u159.selected {
  opacity:0.5;
}
#u160 {
  position:absolute;
  left:2px;
  top:10px;
  width:540px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u162 {
  position:absolute;
  left:225px;
  top:774px;
  width:544px;
  height:40px;
  font-size:16px;
}
#u162_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u162.mouseOver {
}
#u162_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u162.mouseDown {
  opacity:0.5;
}
#u162_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u162.selected {
  opacity:0.5;
}
#u163 {
  position:absolute;
  left:2px;
  top:10px;
  width:540px;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u165 {
  position:absolute;
  left:225px;
  top:774px;
  width:544px;
  height:40px;
  font-size:16px;
}
#u165_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u165.mouseDown {
  opacity:0.5;
}
#u165_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u165.selected {
  opacity:0.5;
}
#u166 {
  position:absolute;
  left:2px;
  top:10px;
  width:540px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u168 {
  position:absolute;
  left:328px;
  top:404px;
  width:222px;
  height:42px;
}
#u169 {
  position:absolute;
  left:2px;
  top:13px;
  width:218px;
  word-wrap:break-word;
}
#u170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:223px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u170 {
  position:absolute;
  left:328px;
  top:404px;
  width:372px;
  height:223px;
  color:#999999;
}
#u171 {
  position:absolute;
  left:2px;
  top:104px;
  width:368px;
  word-wrap:break-word;
}
#u172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u172 {
  position:absolute;
  left:560px;
  top:587px;
  width:140px;
  height:40px;
}
#u173 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u175 {
  position:absolute;
  left:304px;
  top:737px;
  width:222px;
  height:42px;
}
#u176 {
  position:absolute;
  left:2px;
  top:13px;
  width:218px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:223px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u178 {
  position:absolute;
  left:304px;
  top:736px;
  width:372px;
  height:223px;
  color:#999999;
}
#u179 {
  position:absolute;
  left:2px;
  top:104px;
  width:368px;
  word-wrap:break-word;
}
#u180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u180 {
  position:absolute;
  left:536px;
  top:919px;
  width:140px;
  height:40px;
}
#u181 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:87px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u182 {
  position:absolute;
  left:790px;
  top:564px;
  width:174px;
  height:87px;
}
#u183 {
  position:absolute;
  left:10px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:59px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u184 {
  position:absolute;
  left:310px;
  top:307px;
  width:150px;
  height:59px;
}
#u185 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:142px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u188 {
  position:absolute;
  left:285px;
  top:366px;
  width:228px;
  height:142px;
}
#u189 {
  position:absolute;
  left:2px;
  top:63px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:36px;
}
#u190 {
  position:absolute;
  left:328px;
  top:463px;
  width:151px;
  height:35px;
}
#u191 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u192 {
  position:absolute;
  left:412px;
  top:366px;
  width:101px;
  height:40px;
}
#u193 {
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:317px;
  top:414px;
  width:100px;
  height:16px;
}
#u195 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u194_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u196 {
  position:absolute;
  left:317px;
  top:430px;
  width:100px;
  height:16px;
}
#u197 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u196_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:142px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u199 {
  position:absolute;
  left:285px;
  top:524px;
  width:228px;
  height:142px;
}
#u200 {
  position:absolute;
  left:2px;
  top:63px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u201 {
  position:absolute;
  left:412px;
  top:524px;
  width:101px;
  height:40px;
}
#u202 {
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u203 {
  position:absolute;
  left:412px;
  top:626px;
  width:101px;
  height:40px;
}
#u204 {
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u205 {
  position:absolute;
  left:298px;
  top:573px;
  width:202px;
  height:45px;
  color:#CCCCCC;
}
#u206 {
  position:absolute;
  left:2px;
  top:14px;
  width:198px;
  word-wrap:break-word;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:793px;
  height:51px;
}
#u207 {
  position:absolute;
  left:117px;
  top:1804px;
  width:792px;
  height:50px;
  font-size:36px;
}
#u208 {
  position:absolute;
  left:2px;
  top:4px;
  width:788px;
  word-wrap:break-word;
}
#u209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u209 {
  position:absolute;
  left:1014px;
  top:109px;
  width:150px;
  height:50px;
}
#u210 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u211 {
  position:absolute;
  left:1043px;
  top:591px;
  width:90px;
  height:90px;
}
#u212 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u213 {
  position:absolute;
  left:1043px;
  top:586px;
  width:100px;
  height:100px;
}
#u214 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u215 {
  position:absolute;
  left:1037px;
  top:691px;
  width:110px;
  height:30px;
  font-size:20px;
}
#u216 {
  position:absolute;
  left:2px;
  top:3px;
  width:106px;
  word-wrap:break-word;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u217 {
  position:absolute;
  left:1037px;
  top:691px;
  width:110px;
  height:30px;
  font-size:20px;
}
#u218 {
  position:absolute;
  left:2px;
  top:3px;
  width:106px;
  word-wrap:break-word;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u219 {
  position:absolute;
  left:1038px;
  top:845px;
  width:110px;
  height:30px;
  font-size:20px;
}
#u220 {
  position:absolute;
  left:2px;
  top:3px;
  width:106px;
  word-wrap:break-word;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u221 {
  position:absolute;
  left:1038px;
  top:845px;
  width:110px;
  height:30px;
  font-size:20px;
}
#u222 {
  position:absolute;
  left:2px;
  top:3px;
  width:106px;
  word-wrap:break-word;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u223 {
  position:absolute;
  left:1033px;
  top:991px;
  width:110px;
  height:30px;
  font-size:20px;
}
#u224 {
  position:absolute;
  left:2px;
  top:3px;
  width:106px;
  word-wrap:break-word;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u225 {
  position:absolute;
  left:1033px;
  top:991px;
  width:110px;
  height:30px;
  font-size:20px;
}
#u226 {
  position:absolute;
  left:2px;
  top:3px;
  width:106px;
  word-wrap:break-word;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:90px;
}
#u227 {
  position:absolute;
  left:1047px;
  top:745px;
  width:93px;
  height:90px;
}
#u228 {
  position:absolute;
  left:2px;
  top:37px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:86px;
}
#u229 {
  position:absolute;
  left:1050px;
  top:745px;
  width:88px;
  height:86px;
}
#u230 {
  position:absolute;
  left:2px;
  top:35px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:98px;
}
#u231 {
  position:absolute;
  left:1041px;
  top:885px;
  width:97px;
  height:98px;
}
#u232 {
  position:absolute;
  left:2px;
  top:41px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:90px;
}
#u233 {
  position:absolute;
  left:1044px;
  top:891px;
  width:94px;
  height:90px;
}
#u234 {
  position:absolute;
  left:2px;
  top:37px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u235 {
  position:absolute;
  left:1046px;
  top:524px;
  width:92px;
  height:34px;
}
#u236 {
  position:absolute;
  left:2px;
  top:9px;
  width:88px;
  word-wrap:break-word;
}
#u237 {
  position:absolute;
  left:1012px;
  top:568px;
  width:167px;
  height:172px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
